<div *ngIf="ndxService.isLoaded">
<h1>{{ title }}</h1>
<div id="chartDiv" class="dc-chart border bg-success">
  <p>this is some sample text.</p>
</div>
</div>
<!--
<section class="page-content">
  <div class="destinations-container">
    <h2>User Posts</h2>
    <div class="refreshContainer">
      <button (click)="refreshData()">Refresh Data</button>
    </div>
    <img [ngClass]="{'show': !data.length}" class="ajax-loader-boot" src="assets/images/ajax-loader-dots.gif" alt="">
    <ul class="destinations">
      <li *ngFor="let d of data" class="destination">
        <div class="box destination-wrapper">
          <span class="flag {{d.run}}"></span>
          <span><strong>{{d.speed}}</strong> </span>
        </div>
      </li>
    </ul>
  </div>
</section>
-->
