<div class="banner-app"><i class="fa fa-globe" aria-hidden="true"></i><h1>Hackathon - Q3 2019</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-9">
          <app-datacount></app-datacount>
        </div>
        <div class="col-xl-3">
            <div id="themePicker" class="text-right"><span class="text-dark mr-2">Theme</span></div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12 bg-info">
            <app-chloropleth></app-chloropleth>
        </div>
    </div>


  <div class="row">
    <div class="col-xl-4 bg-success">
       <app-numberchart></app-numberchart>
    </div>
    <div class="col-xl-4 bg-warning">
       <app-numberchart></app-numberchart>
    </div>
    <div class="col-xl-4 bg-danger">
       <app-numberchart></app-numberchart>
    </div>
  </div>

  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-piechart></app-piechart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-piechart></app-piechart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-piechart></app-piechart>
      </div>
  </div>

  <div class="row">
    <div class="col-xl-4 bg-success">
       <app-scatterplot></app-scatterplot>
    </div>
    <div class="col-xl-4 bg-warning">
       <app-scatterplot></app-scatterplot>
    </div>
    <div class="col-xl-4 bg-danger">
       <app-scatterplot></app-scatterplot>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 bg-success">
       <app-boxplot></app-boxplot>
    </div>
    <div class="col-xl-4 bg-warning">
       <app-boxplot></app-boxplot>
    </div>
    <div class="col-xl-4 bg-danger">
       <app-boxplot></app-boxplot>
    </div>
  </div>


  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-bubblechart></app-bubblechart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-bubblechart></app-bubblechart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-bubblechart></app-bubblechart>
      </div>
  </div>

  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-heatmap></app-heatmap>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-heatmap></app-heatmap>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-heatmap></app-heatmap>
      </div>
  </div>



  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-areachart></app-areachart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-areachart></app-areachart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-areachart></app-areachart>
      </div>
  </div>

  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-serieschart></app-serieschart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-serieschart></app-serieschart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-serieschart></app-serieschart>
      </div>
  </div>

  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-compositechart></app-compositechart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-compositechart></app-compositechart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-compositechart></app-compositechart>
      </div>
  </div>

  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-linechart></app-linechart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-linechart></app-linechart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-linechart></app-linechart>
      </div>
  </div>


  <div class="row">
    <div class="col-xl-4 bg-success">
	<app-rowchart></app-rowchart>
    </div>
    <div class="col-xl-4 bg-warning">
	<app-rowchart></app-rowchart>
    </div>
    <div class="col-xl-4 bg-danger">
	<app-rowchart></app-rowchart>
    </div>
  </div>

  <div class="row">
      <div class="col-xl-4 bg-success">
          <app-barchart></app-barchart>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-barchart></app-barchart>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-barchart></app-barchart>
      </div>
  </div>

    <div class="row">
      <div class="col-xl-4 bg-success">
          <app-aggdata></app-aggdata>
      </div>
      <div class="col-xl-4 bg-warning">
          <app-aggdata></app-aggdata>
      </div>
      <div class="col-xl-4 bg-danger">
          <app-aggdata></app-aggdata>
      </div>
  </div>

</div>

<footer>
  &copy; 2019 - Valassis Inc.
</footer>
